/* Add CSS Styling */
.odd {
    background-color: rgb(255, 127, 127);
    font-family: 'Verdana', 'DejaVu Sans', 'sans-serif';

}

.second {
    font-size: 36px;
    color: rgb(0, 0, 255);

}

#third {
    font-size: 24px;
}

.fourth {
    background-color: rgb(72, 102, 72);
    font-size: 24px;
    font-weight: 200;
}